@page
@model EasyIdentityBasic.Pages.Account.DeviceModel
@{
}
<div class="row">
    <div class="col col-md-4">
        @if (TempData["error"]!= null)
        {
            <div class="alert alert-error">@TempData["error"]</div>
        }
        @if (TempData["success"]!= null)
        {
            <div class="alert alert-success">@TempData["success"]</div>
        }
        <form method="post">
            <div class="form-group">
                <label for="username">Device Code</label>
                <input type="text" class="form-control" name="code">
            </div> 
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>
</div>